.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  left: 50%;
  filter: blur(45px);
  transform: translateZ(0);
}

.total {
  font-size: 30px;
  text-align: center;
}

.active:disabled {
  background-color: hsl(235.21deg 26.32% 58.61%);
  color: white;
  text-decoration: underline;
  cursor: default;
}

.inactive {
  background-color: hsl(235.21deg 37.04% 18.06%);
}
